version: '3'

services:

    ep19:
        restart: always
        build: .
        expose:
            - "80"
        volumes:
            - ep19_src:{{ ep19_code_deploy_path_in_docker }}
            - ep19_data_site:{{ ep19_code_deploy_path_in_docker }}/data/site
            - ep19_data_static:{{ ep19_code_deploy_path_in_docker }}/data/static
            - ep19_media_public:{{ ep19_code_deploy_path_in_docker }}/data/media_public
            - ep19_media_private:{{ ep19_code_deploy_path_in_docker }}/data/media_private
        env_file:
            - {{ ep19_env_path }}
        command: gunicorn pycon.wsgi:application --bind 0.0.0.0:80 --workers 4

